<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="./css/general.css" rel="stylesheet">
   <link href="./css/dictionary.css" rel="stylesheet">
   <link href="./css/word-of-the-day.css" rel="stylesheet">
   <link href="./css/my-words.css" rel="stylesheet">

   <title>My words</title>
</head>

<body>
   <nav class="main-nav">
      <a href="/" class="nav-title">Word-lookup</a>
      <div class="nav-links">
         <ul class="links-list">
            <li class="link">
               <a href="/dictionary">Dictionary</a>
            </li>
            <li class="link">
               <a href="/random-word">Random Word</a>
            </li>
            <li class="link">
               <a href="/fav-words">Fav Words</a>
            </li>
         </ul>
      </div>
   </nav>
   <main class="main-container">
      <h2 class="secondary-heading">Fav Words</h2>
      <form class="add-word-form" method="post" action="fav-words">
         <label class="add-word-label" for="word">Add word: </label>
         <input id="search-bar" type="text" id="word" name="word">
         <button id="submit-btn" type="submit">Add</button>
      </form>
      <%- words %>
   </main>

   <footer class="footer-container">
      <span class="copyright">&#169;<span class="year">2022</span> Queenie Chan &vert; All rights reserved.</span>
   </footer>
   <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
   <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
   <script src="./script.js"></script>
</body>

</html>